<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sítio Agar</title>
</head>

<body>
    <header></header>
    <main>
        <img src="/static/images/head.png" alt="head">
    </main>

    <h2>Faça parte desta legião de amigos em prol do Sítio Agar!</h2>
    <p>Torne-se um sócio-colaborador e ajude-nos a fazer a diferença na vida de crianças, adolescentes e idosos.</p>

  
    <div>
        <h2>Entre em contato e seja um sócio-colaborador:</h2>
        <form method="POST">
            <input type="text" id="nome" name="nome" placeholder="Seu nome" required><br><br>

            <input type="email" id="email" name="email" placeholder="Seu email" required><br><br>
            
            <input type="text" id="cidade" name="cidade" placeholder="Cidade" required><br><br>
            
            <input type="text" id="estado" name="estado" placeholder="Estado" required><br><br>
            
            <input type="tel" id="telefone" name="telefone" placeholder="DDD + WhatsApp" pattern="[0-9]{2}[0-9]{5}-[0-9]{4}" required><br><br>

            <input type="submit" value="Enviar">
        </form>
    </div>
    
    <h2>30 anos de solidariedade</h2>

    <p>Somos uma instituição sem fins lucrativos de proteção à infância, adolescência e terceira idade, que nasceu como abrigo de crianças portadoras do vírus HIV.</p>

    <footer></footer>
</body>
</html>